ansh@gmail.com/anshulgoel - USER
anshul@gmail.com/anshulgoel - ADMIN
anshul.goel.student@gmail.com/tarungoel

SVGs can be customizable

----Integrate Resend for email verification
API Key [REDACTED - set via RESEND_API_KEY environment variable]-re_MyWW3ZcC_MrMVXm7oejEqqpJSGD3kXNDz
100 mails per day free tier - 10 per sec rate limit. Pay as you go available
anshul.goel.student@gmail.com
https://resend.com/settings/usage

Prompt: Integrate 'Resend' for email verification, reset password etc. API Key should be set via RESEND_API_KEY environment variable.
The account that I used for signing up is anshul.goel.student@gmail.com
Make sure to add the email configuration seperately, as service provider may change in future and accordingly request and responses will also be changed.
Later, there might be a seperate mail provider for Reset Password flow and Verify mail id.
Just to let you know rate limit for email is 10 per sec and 100 per day.
Also document this part properly.
 
---Next prompt----

I have not referred to put a glyphicon inside the app, I was referring to add an icon for browser tab icon with title. 

----Other Requirements:

1(Not properly done) svg should also be customizable in card creation. There are a couple of SVGs in the SVGs folder. You can use those but make a slight change to avoid licence credits. Based on these SVGs you can create a couple of more and based on the events you can make it customised i.e. user should be selecting the SVGs in the card.
2(Mail functionality not properly working). Reset password is not working after opening the link from mail
3.(Done) Signout confirmation UI should be a custom alert not browser alert?
4. Instead of pre filling all the card details, create a preview section under each card which contains details based on a demo data, the details can't be edited by a user. 
The data which is currently filled can act as a placeholder now.
5. If we click on create public link, it should tell us that the "Link creation will be allowed once for 10 minutes. For longer duration: Pay Now"
6. Whenever a user clicks on Pay Now, it should be redirected to /plans page.(This page will contain various plans and Pay Now button which redirects to /payments)
7.(Done) The complete HTML content is under index.html. - Done
Better create a frontend folder and add all the seperate html,css and js files(Without modifying existing content), under folder structure like Frontend->Occassions->Birthday/Marriage/Engagement etc, Frontend->Dashboard->UserDashboard/AdminDashboard, Frontend->General(It can contain reusable things like dialog boxes/svgs),Frontend->Static Pages->About/404/ContactUs etc 
Also seperate the data on basis of occasion, so if I want to make changes only in wedding card, I should know which files to modify. 
Document the steps for modification.
8.(done) The backend APIs are mostly in server.js.
server folder and server.js all together confuses a lot.  
The server folder is mostly related to configurations and setups only and can be named accordingly.
Break the server.js in modules like Utilities, AuthAPIs, AdminAPIs, PublicAPIs etc.
Better maintain a backend folder
9. Invitation status should be maintained (Draft, Published, Expired, Paid) to support future payment and sharing features.
10. Environment configuration should be centralized (config/constants) instead of reading environment variables from multiple files.
11.(Do with the help of Chat GPT) We should have About, Contact Us, Terms and Conditions pages as well(Terms and conditions will come as a hyperlink while signup). The links for them is already available in footers. 
As of now just write the content 'The page is under construction' for all the links under their pages.
12. Under weddings, we could have templates based on:
hindu-wedding
muslim-wedding
sikh-wedding
telugu-wedding
marathi-wedding
We should be able to select a template type from dropdown under the cretaion page.
13. We should be able to add custom events. There might be some person who want to celebrate first month wedding ceremony, Roka ceremony. We can have some optional parameters, optional SVGs etc.
14(Done) Application level theme color should be customised from profile section. 
15. We should not be able to delete a card from UI. Similar to 'Your Saved Invitation' we should have 'Your Expired Invitations'
If user edits the expired invitation and saves it, it should come under 'Your Saved Invitation'.
If the expired invitation had a public link that got expired, without payment, it should not create a public link.
If the card is under 'Your Expired Invitations' for more than 365 days, it should be automatically deleted permanently. That timer should also come in UI.
16. Swagger can only be opened if the user is admin.
17. Login as Guest should also be available. The person should see dashboard, create card/edit card but can not create public link before login. The data will reset with page refresh.
18. After writting document.getElementById("adminDashboard").hidden = false in the console, I am able to get Admin Dashboard. Although data is not coming but UI is visible to normal user.

----Basic Bugs/Features - Can be added Later

1. Phone Number and Password validations needs to be added.
2(Done). Everytime I click on Copy Public link, its appending copied in UI. If I click it multiple times, it appends multiple times. This part does not look good.
3(Done manually). After redirecting to public link, it should not display 'Read-only view'.
4. When I open Manage Profile UI, the background UI should not be scrollable.
5(Not needed now). I should be able to delete multiple cards at a time
6. The theme for Light/Dark mode is limited to a number of things in UI. Thats not looking good.
7. If we are redirecting to Home in between edit, it should display a warning before redirecting that any changes would be lost.
8. Loading indicators should be shown while API calls are in progress instead of displaying empty states.(When user logs in, existing cards are not visible)
9. Add rate limiting for authentication and public invitation APIs to prevent abuse.
10.(Done) Public invitation page should not show the footer section.
11. User should be able to duplicate an existing invitation to create a new draft.
12.(done) If I am changing theme of a wedding card, as of now its changing the theme of complete application, it does not seem to look good.
13. Add an icon for browser tab icon with title.
14(Done) Swagger is not working properly - Instead of localhost, use 127.0.0.1
15(Done) The verify mail option should not show on the dashboard and it should be shown in the profile section
16. Reset password is failing with "Cannot read properties of null (reading 'reset')"
17. When I click on Save Profile, dialog box should be closed.

-----Done

2. There should be an option to copy the public link directly. 
3. The public link is not properly working when redirected to. Its not displaying any card.
4. Manage profile/Sign Up section should have email, phone, name that can be modified.


-------



https://cart.hostinger.com/pay/2cc8061a-aace-4d6e-9961-fb51abba3ca8

GRABHOST10

Business plan
guestinvite.in



-------------Next Release



We can add more cards like:
/baby-shower


We should have multiple templates for each part to select from(After preview).


Premium Plan:

Premium features (Music, RSVP, HD Download, QR, Custom URL) should be hidden behind the future payment module.

✓ Music

✓ QR

✓ RSVP

✓ Countdown

✓ Google Maps

✓ Photo Gallery

✓ Gift Registry

✓ Dress Code

----Things used:

OAuth: 
Database: MySQL


--To be verified manually

1. On login page, password should have a button for show password. - Done
2. Logout does not look clean as old page still shows the data. - Done
3. User should be having a manage profile section. - Done
4. Card deletion should show a proper UI, as of now the delete dialog box buttons not looking good. - Done
5. Home/Dashboard button should be there on title bar which redirects to the home screen from any page. - Done
6. The card that user can edit can be shared with some other person which would be read only unless its owned by that user only. Basically a public link for the card. - Done
7. The public link of card should be valid for 10 mins. The remaining time also needs to be displayed somewhere for the user who created that card. - Done
8. If a public link for a card is generated even once, then user will not be able to generate the public link for same card. It should redirect to dummy payment page (/payment) which will be implemented in future with Razorpay (currently shows "Page Under Development"). - Done
9. If a user tries to regenerate a new card under same category (only under same category) and make it public, since that's a new card, based on details, we should take care that it should throw an error: - Done
   "The same details were previously made public and you need to pay now".
10. Put all the constants in a single file like DB Details which should be picked up in case there are no environment variables set. - Done
11. The code should be structured properly. Right now it's a bit difficult to understand. For example, occasion-data.js contains demo data and js/occasions/*.js also contains demo data. - Done
12. Documentation (README.md) should explain the folder and file structure. - Done
13. Swagger should open from Admin Dashboard if the user is of Admin type and admin should have a separate dashboard compared to a regular user. - Done
14. I want APIs for listing all users, listing cards for all users, and listing cards for a specific user. - Done
15. 'Your Saved Invitations' section displays "No cards found", but cards appear after some time because of backend loading. This should be fixed with a proper loading state. - Done
16. The entire application (Dashboard, Add Content pages, etc.) should support Light and Dark themes. - Done
17. Proper file comments should be added and the documentation should clearly mention all supported environment variables along with their default values. - Done

---Example I found

https://www.invifest.in/demo/meenal-avinash/?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAdGRleAStf1NleHRuA2FlbQIxMQBzcnRjBmFwcF9pZA8xMjQwMjQ1NzQyODc0MTQAAaflNwIMtIv-_be_BaGaHQBV6bvM6s4atP62lRCDzI9qQGOwIdjJk-Z5O1nIhg_aem_dKYZJXrLoRtJXFLEIeHR7w


------Next

Please continue the part which was left pending previously.